<!doctype html>
<html lang="en">

<head>
  <title>Gold Pulse</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body ng-app="GoldPulse" ng-controller="TableCtrl">


  <h1 class="text-center">
                Stock Table
            </h1>
  <h3 class="text-center">
                Resize the browser screen to see how the table changes
            </h3>
  <date-input class="text-center"></date-input>

  <section>
    <ul class='nav nav-pills'>
      <li ng-repeat="metric in metrics" ng-class="{active: metric === selection}"> <a href="#" ng-click="set(metric)">{{metric}}</a> </li>
    </ul>
  </section>

  <div class="container well">

    <table class="table table-bordered table-striped">
      <thread>
        <tr class="table-info">
          <td> name</td>
          <td> ticker </td>
          <td ng-repeat="metric in metrics" ng-class="{'highlight': metric === selection}">{{metric}}</td>
          <td ng-repeat="ymd in dates">{{ymd}}</td>
        </tr>
      </thread>
      <tbody>
        <tr ng-repeat="stock in stocks | orderBy: sort | limitTo: 25">
          <td> {{stock.name}}</td>
          <td> {{stock.ticker}}</td>
          <td ng-repeat="metric in metrics" ng-class="{'highlight': metric === selection}">{{stock.metrics[metric]}}</td>
          <td ng-repeat="ymd in dates" ng-class="color(ymd, stock)">{{stock.dates| match : ymd}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Javascript libraries -->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js"></script>
  <!-- App  Modules -->
  <script src="/js/app/app.js"></script>

  <!-- App Filters -->
  <script src="/js/app/filters/match.js"></script>

  <!-- App services -->
  <script src="/js/app/services/cleaning-service.js"></script>
  <script src="/js/app/services/quote-service.js"></script>
  <script src="/js/app/services/coloring-service.js"></script>

  <!-- App controllers -->
  <script src="/js/app/controllers/table.js"></script>
  <script src="/js/app/controllers/date.js"></script>

  <!-- App directives -->
  <script src="/js/app/directives/input.js"></script>

</body>

</html>
