body {
	background-color: rgb(238, 221, 130);
	font-family: Verdana, sans-serif;
}

section {
	width: 100%;
	text-align: center;
}

section ul {
	text-align: center;
	position: relative;
	display: inline-block;
}

.align {
	margin-top: 0;
	margin-bottom: 1%;
}

.wrapper {
	text-align: center;
}

.highlight {
	background-color: white !important;
	font-weight: bold;
}

.red {
	background-color: rgb(245, 230, 224);
}

.yellow {
	background-color: rgb(234, 227, 161);
}

.blue {
	background-color: rgb(140, 175, 206);
}

.green {
	background-color: rgb(161, 194, 153);
}

.invalid {
	border-color: #FA787E;
}

.valid {
	border-color: #78FA89;
}

button {
	margin: 2% 0;
	display: inline-block;
}
.center {
    margin: 0 auto;
    width: 85%;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
	display: none !important;
}

@media only screen and (max-width: 800px) {
	/* Force table to not be like tables anymore */
	#no-more-tables table, #no-more-tables thead, #no-more-tables tbody, #no-more-tables th, #no-more-tables td, #no-more-tables tr {
		display: block;
	}
	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	#no-more-tables tr {
		border: 1px solid #ccc;
	}
	#no-more-tables td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
		white-space: normal;
		text-align: left;
	}
	#no-more-tables td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
		text-align: left;
		font-weight: bold;
	}
}